* {
  padding: 0;
  margin: 0;
}

body {
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:100% 100%;
  overflow: hidden;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 1vmin;
  padding: 12px;
  background-image: url();;
}

.sq0, .sq1, .sq2, .sq3, .sq4, .sq5, .sq6 {
  font-size: 15px;
  text-align: center;
  padding: 22px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(../assets/ClickHere.png);
  background-size: 100%;
}

div {
  border: 1px solid black;
  font-size: 8vmin;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: yellow;
}

h1 {
  color :yellow;
  text-align: center;
  font: 800 45px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  
}

h2 {
  color: yellow;
  text-align: center;
  font-size: 25px;
  -webkit-text-stroke: 1px;

}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 30%;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

@media only screen and (min-width: 768px) {
  .card{
    width: 325px;
    margin: 30px 15px 0;
  }
}